
/**
 * Import third party libraries
 */
@import './vendor';

 /**
  * Implement custom styles
  */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: auto scroll;
}

body {
  display: flex;
  flex-direction: column;
}

header.c-header {
  flex-shrink: 0;
  background-color: #fff;
}

main.c-main {
  flex: 1 0 auto;
  margin-top: 70px;
  margin-bottom: 15px;
  padding: 20px 16px;
  background-color: #fff;
}

footer.c-footer {
  flex-shrink: 0;
}

.c-logo-large {
  margin-top: -1rem;
  height: 4.4rem;
}

.c-title {
  margin-top: 2rem;
  font-family: 'Slabo 27px', serif;
}

.c-subtitle {
  position: relative;
  top: -1rem;
  margin-bottom: 1rem;
  font-size: medium;
}

.c-signin-card {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.c-alert {
  text-align: center;
  font-weight: bold;
}

.c-sign-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.c-sign-buttons button {
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .c-sign-buttons {
    flex-direction: row;
  }
  .c-sign-buttons button {
    flex-basis: 40%;
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.c-thead {
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
}

.c-status {
  text-transform: uppercase;
}

.c-clickable:hover {
  cursor: pointer;
}

#ticket-messages {
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.c-message {
  margin: 0 0 8px;
  padding-bottom: 0;
  padding-top: 0;
}

.c-message-body {
  padding: 8px 12px 4px 14px;
  color: #fff;
}

.c-message-sender {
  font-size: small;
  font-weight: bolder;
  font-style: italic;
}

.c-message p {
  display: inline-block;
  margin: 4px 1px;
}

.c-message-time {
  color: #ddd;
  font-size: small;
  font-weight: normal;
  font-style: italic;
}

.toast-top-right {
  margin-top: 50px;
}

label {
  font-weight: bold;
}

.c-card {
  height: 220px;
  width: 220px;
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
}

.c-card-body {
  margin: auto;
}
